#root {
  margin: 0 auto;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 12px 100px;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-primary);
}

.logo {
  height: 80px;
  width: auto;
  max-width: 100%;
}

.footer {
  display: flex;
  font-size: 18px;
  flex-direction: column;
  padding: 12px 100px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  section {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 12px 16px;
  }
  .footer {
    padding: 12px 16px;
  }
  .logo {
    height: 50px;
  }
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
