.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header .container {
  width: 100%;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header .logo {
  height: 60px;
  object-fit: contain;
}

.footer .container {
  width: 100%;
  max-width: 80%;
  display: flex;
  font-size: 18px;
  flex-direction: column;
  justify-content: space-between
  
  max-width: 80%;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  section {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

fieldset {
  border: 1px solid #ccc;
  min-height: 40px;
  width: 90%;
  max-width: 600px;
  padding: 16px;
  margin: 0 auto;
  text-align: center;
}

.options {
  display: flex;
  justify-content: center;
}

.consultation-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
}

.question-card-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-action-section {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .logo {
    height: 50px;
  }
}

@media (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
