:root {
  --color-primary: #003f82;
  --color-secondary: #edf0fa;
  --color-orange: #fa650a;

  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-primary);
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  background-color: var(--color-secondary);
}

header {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
}

footer {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  color: white;
  background-color: var(--color-primary);
}
