:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #003f82;

  color: var(--color-primary);
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
}

header {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
}

footer {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}
